@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    /* background-color: #0D1629; */
}

/* html {
    background-color: #0D1629;
} */

body {
    background-color: #0D1629;
}


/* cegah seleksi teks */
.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;    
    -ms-user-select: none;     
    user-select: none;      
}

/* optional: kursor jadi default */
.no-select {
    cursor: default;  
}

/* jika ingin mencegah pemilihan di seluruh halaman */
html.no-select-all, body.no-select-all {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}   




section {
    width: 100%;
    height: 600px;
    padding: 20px;
    box-sizing: border-box;
    /* border: 1px solid black; */
    overflow: hidden;
}



/* navigasi */
header {
    /* background-color: rgba(13,22,41,0.85); */
    backdrop-filter: blur(8px);
    position: sticky;
    top: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    z-index: 1000;
}

header img {
    width: 35px;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

header nav li a {
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #b2b4b6;
    text-decoration: none;
}

nav li a:hover {
    color: white;
}





/* about */
section.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #0D1629;
    /* z-index: 0; */
}

section.hero .about1 {
    width: 740px;
}

.hero .about1 div {
    border-right: 12px solid #c3c7ca;
    padding-right: 2px;
    width: fit-content;
    height: 73px;
    /*border: none;*/
    transition: .2s all ease;
}

.hero .about1 .none {
    border: none;
}

.hero h1 {
    font-family: 'Inter', sans-serif;
    font-size: 3rem; /* besar teks */
    font-weight: 700;
    /* text-align: center; */
    background: linear-gradient(90deg, #a855f7, #e88bff, #8b5cf6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* untuk browser modern */
    color: transparent;
    /* margin: 2rem 0; */
}

.hero p {
    text-transform: capitalize;
    font-size: 17px;
    color: #b5bdc4;
}




section.hero .about2 {
    width: 500px;
    height: 500px;
    /* border: 1px solid black; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero img.satu_hero {
    width: 370px;
    height: 370px;
    border-radius: 50%;
}

.hero img.dua_hero {
    width: 485px;
    height: 485px;
    position: absolute;
    right: 6px;
    top: 10px;
}




/* Skills */
section.skills {
    height: fit-content;
    padding-bottom: 40px;
    background-color: #0D1528;
    color: white;
    border-top: 0.1px solid #656769;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: visible;
}

.skills h2 {
    width: fit-content;
    height: fit-content;
    padding: 3px 12px;
    border: 0.1px solid #656769;
    box-sizing: border-box;
    border-radius: 9px;
    font-size: 16px;
    font-family:monospace;
    font-weight: normal;
    color: #b5bdc4;
    background-color: #121c32;
    position: absolute;
    top: -15px;
}

.skills .container {
    box-sizing: border-box;
    margin-top: 40px;
    width: 55%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
    gap: 10px 0;
}

.skills .container div {
    margin: auto;
    width: 260px;
    height: 53px;
    padding: 14px;
    background-color: #111b31;
    border: 0.1px solid #656769;
    border-radius: 7px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #b5bdc4;
    text-transform: capitalize;
    cursor: pointer;
    position: relative;
}

.skills .container div:hover {
    border: .1px solid rgb(197, 197, 197);
}

.skills .container div .logo {
    width: 35px;
    border-radius: 4px;
    position: relative;
}

/* .skills .container div span {
    position: relative;
} */

.skills .container div .perify {
    width: 17px;
    filter: invert(60%);
    -webkit-filter: invert(60%);
    margin-bottom: 20px;
    margin-right: -7px;
}

.skills .container div:hover .perify {
    filter: invert(90%);
    -webkit-filter: invert(90%);
}


.skills .note {
    width: fit-content;
    /* border: 1px solid white; */
    box-sizing: border-box;
    padding: 30px 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.note ul {
    list-style: none;
    text-transform: capitalize;
    color: #b5bdc4;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.note li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.note li img {
    width: 20px;
    filter: invert(80%);
    -webkit-filter: invert(80%);
}






/* Pengalaman */
.pengalaman {
    background-color: #090f1e;
    border-top: 0.1px solid #656769;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: visible;
    padding: 0;
}


.pengalaman h2 {
    width: fit-content;
    height: fit-content;
    padding: 3px 10px;
    border: 0.1px solid #656769;
    box-sizing: border-box;
    border-radius: 9px;
    font-size: 16px;
    font-family:monospace;
    font-weight: normal;
    color: #b5bdc4;
    background-color: #121c32;
    position: absolute;
    top: -15px;
    z-index: 10;
}

.exp-container {
    display: flex;
    gap: 20px;
    width: 90%;
    margin-top: 70px;
    color: #b5bdc4;
}
#three-container {
    width: 65%;
    height: 420px;
}
.exp-info {
    width: 45%;
    background: #131d35;
    padding: 20px;
    border-radius: 12px;
    /* border: 0.1px solid #656769; */
}

.exp-info p {
    margin-top: 10px;
}













/* footer */